@model ToutesLesFormationsViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>ceci est une vue</p>

<p>ceci est un peu plus de texte</p>
<p>@Model.Message</p>
<p>ceci est la valeur passée : @Model.Nombre</p>